.settings-modal {
  position: absolute;
  bottom: 50px;
  left: calc(100% + 10px);
  background-color: #1C1D1D;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  color: #CECECE;
  width: 200px;
}

.settings-content {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.setting-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.setting-label {
  margin-right: 10px;
}