/* Main.css */

.main {
  flex: 1;
  min-height: 100vh;
  padding-bottom: 15vh;
  position: relative;
  background: #141414;
}
.main .nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 22px;
  padding: 20px;
  color: #585858;
}
.main .nav img {
  width: 40px;
  border-radius: 50%;
}
.main-container {
  max-width: 900px;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.main-bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  max-width: 900px;
  padding: 0 20px;
  margin: auto;
}
.search-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  background-color: #1c1d1d;
  padding: 15px 20px;
  border-radius: 50px;
}
.search-box textarea {
  flex: 1;
  height: 30px;
  overflow-y: hidden;
  background: transparent;
  border: none;
  outline: none;
  padding: 4px;
  font-size: 18px;
}
.search-box div {
  display: flex;
  gap: 15px;
}

.search-box img {
  width: 24px;
  cursor: pointer;
}
.bottom-info {
  font-size: 13px;
  margin: 15px auto;
  text-align: center;
  font-weight: 300;
}
.result {
  padding: 0 5%;
  height: calc(100vh - 220px); /* Adjust based on your layout */
  overflow-y: auto;
  scroll-behavior: smooth;
}

.result::-webkit-scrollbar {
  display: none;
}
.result-title {
  margin: 40px 0px;
  display: flex;
  align-items: center;
  gap: 20px;
}
.result img {
  width: 40px;
  border-radius: 50%;
}
.result-data {
  display: flex;
  align-items: start;
  gap: 20px;
}
.loader {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.animated-bg {
  border-radius: 4px;
  border: none;
  animation: loader 3s infinite linear;
  background-color: #f6f7f8;
  background: linear-gradient(to right, #dd8726, #ffd736, #dd8726);
  background-size: 800px 50px;
  height: 15px;
}

.result-title.new-message {
  animation: fade-in 0.5s ease-out;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes loader {
  0% {
    background-position: -800px 0;
  }
  100% {
    background-position: 800px 0;
  }
}

@media (max-width: 600px) {
  .main-bottom input {
    flex: none;
    width: 140px;
  }
  .main-bottom img {
    width: 20px;
  }
  .search-box {
    padding: 5px 10px;
  }
  .search-box div {
    gap: 5px;
  }
}
