.greet {
    margin: 50px 0px;
    font-size: 56px;
    font-weight: 500;
    padding: 20px;
}
.greet span {
    background: -webkit-linear-gradient(16deg, #FFD736, #DD8726);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px,1fr));
    gap: 15px;
    padding: 20px;
}
.card {
    height: 200px;
    padding: 15px;
    background-color: #1C1D1D;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
}
.card:hover {
    background-color: #2D2F30;
}
.card p {
    font-size: 17px;
}